{{> head}}
{{>navbar}}


<div class="row">
<div class="col-8">
<h1>Logo</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quam, at repudiandae nulla magnam soluta? Corporis omnis voluptas doloremque deserunt quia, laboriosam esse numquam maxime dolor eos delectus? Commodi, facere!</p>

</div>

<div class="col-4">
    <img src="assets/img/logo_strip.png" class="img-thumbnail">

</div>

{{>footer}}

</div>